*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Lato', sans-serif;    


    
}

.layout{
    background-image: linear-gradient(to right, rgb(97, 39, 151),rgb(47, 21, 65));
    height: 550px;
}

/* title */
h1{
    color: white;
    padding-top: 15px;
    padding-left: 150px;
    font-size: 30px;


        
}

/* Menu-bar */
.menu-bar{
    padding-left: 70%;
}

.menu-bar a{
    padding-top: 15px;
    font-size: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: white;
    
}


/* configuração h2  ref. menu*/
.model-menu{
    color: rgba(55, 209, 137, 0.904);
    font-size: 30px;
    padding-top: 120px;
    padding-left: 150px;
    padding-bottom: 60px;
}

/* config. h4 */
.sub-title{
    color: rgba(127, 174, 235, 0.904);
    font-size: 20px;
    padding-left: 150px;
    margin-bottom: 10px;
}

#about p{
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 150px;
}

#about img{
    position: absolute;
    top: 180px;
    left: 70%;
    width: 300px;
    height: 300px;
}

/* skills */

.skills ul{
    font-size: 20px;
    padding-left: 350px;
    color: rgb(72, 21, 105);
}

.skills ul ul{
    padding-left: 20px;
}

.skills img{
    position: absolute;
    left: 50%;
    width: 300px;
    height: 300px;
    top: 650px;
}

/* contacts */
.contacts{
    font-size: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contacts p strong{
    font-size: 20px;
    padding-left: 1000px;
    color: rgb(72, 21, 105);
}

.img-contacts{
    position: absolute;
    width: 300px;
    height: 300px;
    right: 60%;
    top: 1180px;
}

/* footer */
footer{
    color: white;
    background-image: linear-gradient(to right, rgb(97, 39, 151),rgb(72, 21, 105));
    height: 50px;
    text-align: center;
    padding-bottom: 0;
}
